<%# <%= javascript_import_module_tag "plugin/prism" %1> %>
<%= javascript_import_module_tag "plugin/race" %>
<section class="prompt">
  <pre>
  <code class="language-python">
    <%= @prompt %>
  </code>
  </pre>
  <input type="text" autofocus=true>
</section>
