<section id="prompt-container">
<section class="prompt">
  <div id="stats-bar">
    <p id="time-elapsed">0:00</p>
    <div id="accuracy-and-wpm-wrapper">
      <p id="accuracy">100%</p>
      <p id="wpm">0wpm</p>
    </div>
  </div>
  <pre>
  <div class="feedback-container">
  </div>
  <code class="language-python">
  <%= @prompt %>
  </code>
  </pre>
  <input type="text" id="input" autofocus=true>
</section>
</section>
<script async defer>
  function spanFactory(id) {
    const span = document.createElement("span");
    span.id = id;
    return span;
  }
  function codeFactory(contents) {
    const code = document.createElement("code");
    code.textContent = contents;
    code.classList.add("language-python");
    return code;
  }

  function flashColor(element, color) {
      console.log('flashing green');
      element.style.backgroundColor = color;
      setTimeout(() => element.style.backgroundColor = 'white', 200);
  }

  const sections = <%= @sections.to_json.html_safe %>;
  const whitespace_array = <%= @whitespace_array.to_json.html_safe %>
  const numWords = sections.length;
  let wordsTyped = 0;
  let totalCharactersTyped = 0;
  let correctCharactersTyped = 0;
  let lineNumber = 0;

  const textInput = document.querySelector('#input');
  const feedbackContainer = document.querySelector(".feedback-container");
  const lineSpan = spanFactory("line-span");
  const correctCode = codeFactory("");
  lineSpan.appendChild(correctCode);
  feedbackContainer.appendChild(lineSpan);
  const currCodeElement = codeFactory("");
  lineSpan.appendChild(currCodeElement);

  let wpm = 0;
  const startTime = new Date();
  const wpmParagraphElement = document.querySelector("#wpm");
  const wpmInterval = setInterval( () => {
      const endTime = new Date();
      const elapsedTimeInMilliseconds = endTime - startTime;
      const elapsedTimeInSeconds = elapsedTimeInMilliseconds / 1000;
      const elapsedTimeInMinutes = elapsedTimeInSeconds / 60;
      wpm = Math.round((correctCharactersTyped/5)/elapsedTimeInMinutes);
      wpmParagraphElement.textContent = `${wpm} wpm`;

  }, 200);


  function handleNewEnter(event) {
      let content = event.target.value;
      if (event.key === 'Enter') {
          totalCharactersTyped++;
          event.preventDefault(); // Disable the default Enter key behavior
          content += '\n'; // Append a newline character
      }
      else {
          return;
      }
      const currWord = sections[wordsTyped];
      if (currWord.indexOf(content) === 0) {
          currCodeElement.textContent = content;
          currCodeElement.style.color = "green";
          correctCharactersTyped = correctCode.textContent.length + currCodeElement.textContent.length;
          console.log(correctCharactersTyped, totalCharactersTyped);
      }
      else {
          currCodeElement.style.color = "red";
          flashColor(textInput, "red");
      }

      // Calculate the accuracy and update the DOM 
      const accuracy = (Math.round((correctCharactersTyped/totalCharactersTyped)*100,2)) | "0";
      document.querySelector("#accuracy").textContent = accuracy + "%";

      if (content == currWord) {
          // add new word to correctCode
          correctCode.textContent += currWord;
          currCodeElement.textContent = "";
          
          if (currWord[currWord.length - 1] === "\n") {
              lineNumber++;
              correctCode.textContent += whitespace_array[lineNumber];
          }
          wordsTyped++;
          textInput.value = "";
          flashColor(textInput, "green");
          if(wordsTyped === numWords) {
              clearInterval(wpmInterval);
              alert(`you finished with a wpm of ${wpm}`);
          }
          return;
      }
  }
  
  function handleNewInput(event) {
      let content = event.target.value;
      totalCharactersTyped++;

      const currWord = sections[wordsTyped];
      if (currWord.indexOf(content) === 0) {
          currCodeElement.textContent = content;
          currCodeElement.style.color = "green";
          correctCharactersTyped = correctCode.textContent.length + currCodeElement.textContent.length;
          console.log(correctCharactersTyped, totalCharactersTyped);
      }
      else {
          currCodeElement.style.color = "red";
          flashColor(textInput, "red");
      }

      // Calculate the accuracy and update the DOM 
      const accuracy = (Math.round(correctCharactersTyped/totalCharactersTyped*100,2)) | "0";
      document.querySelector("#accuracy").textContent = accuracy + "%";

      if (content == currWord) {
          // add new word to correctCode
          correctCode.textContent += currWord;
          currCodeElement.textContent = "";
          
          if (currWord[currWord.length - 1] === "\n") {
              lineNumber++;
              correctCode.textContent += whitespace_array[lineNumber];
          }
          wordsTyped++;
          textInput.value = "";
          flashColor(textInput, "green");
          if(wordsTyped === numWords) {
              clearInterval(wpmInterval);
              alert(`you finished with a wpm of ${wpm}`);
          }
          return;
      }
  }


  textInput.addEventListener('input', handleNewInput, event);
  textInput.addEventListener('keyup', handleNewEnter, event);

</script>
