* {
  --my-white: #FFFCF2;
  --light-gray: #CCC5B9;
  --mid-gray: #403D39;
  --dark-gray: #252422;
  --high: #EB5E28;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color:var(--my-white);
  height:100vh;
}

header {
  position:fixed;
  top:0;
  display:flex;
  flex-direction: row;
  height: 5rem;
  width: 100vw;
  color: var(--my-white);
  background-color: var(--dark-gray);
  align-items: center;
  z-index: 2;
}

header > a {
  color: var(--my-white);
  text-decoration: none;
  font-style: italic;
  padding-left: 1rem;
}

header > section {
  display:flex;
  align-items:space-between;
  margin-left: auto;
}

header > section > a {
  color: var(--my-white);
  text-decoration: none;
  margin-left: 3rem;
  margin-right: 3rem;
}

header > section > a:hover {
  text-decoration: underline;
  cursor: pointer;
}


header > a > h1 {
  font-style: italic;
  padding-left: 1rem;
}
